*{
    box-sizing: border-box;
}
html, body{
    margin:0;
    padding:0;
    font-family:'Times New Roman';
    height:100%;
    position:relative;
    background-color:white;
    font-family: 'Encode Sans Condensed', sans-serif;
}
.wrapper {
    position: relative;
    padding-bottom: 160px;
    min-height: 100px;
    overflow: hidden;
    display: block;
}
.container-top{
    width:100%;
    background-color: slategrey;
    height:80px;
    position:fixed;
}
nav{
    float:center;
    font-size: 20px;
    padding-top: 50px;
    padding-right: 15px;
}
nav a {
    padding: 7px;
    padding-bottom: 5px;
    padding-top: 5px;
}
a{
    color: black;
    text-decoration:none;
}
nav a:hover{
    color:black;
    border-top:black 2px solid;
}
.nav-current{
    border-bottom:black 2px solid;
}
main{
    padding-bottom: 50px;
    padding-top:10px;
}

main h1{
    color:black;
    font-size: 40px;
    text-align: center;
}

.container-main{
    text-align: right;
    width:55%;
    margin:0 auto;
    margin-top;
    height:320;
}
.container-main-text{
    text-align: justify;
}
footer{
    background-color: slategrey;
    width: 100%;
    padding:20;
    padding-top:20px;
    text-align:left;
    position:absolute;
    bottom:0;
    text-align:center;
}
.copyright{
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 10px;
}
.logo{
    height:100px;
    width:100px;
    margin-top:0px;
    margin-left: 20px;
    float:left;
    background-image: url("../images/logo.png");
}
.container-top{
    position:static;
    text-align: right;
    height: 90px;
}
.column, .column-h{
    float: left;
    width:50%;
    padding:40px;
    padding-top:0px;
    text-align:center;
}
.column img {
    width: 240px;
    height: 150px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.column p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 10px;
}
.column-h img {
    width: 600px auto;
    height: 330px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.column-h p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 10px;
}
.skill{
    float:left;
    width:25%;
    margin-top:15px;
    height:280px;
    padding-left:10px;
}
.skill-img{
    width: 100px;
    height:100px;
}
.skill p {
    padding-left: 10px;
    padding-right: 10px;
}
.hobbies{
    text-align:left;
}
.hobbies-list {
    text-align: left;
    margin-bottom: 40px;
}
.social{
    float:left;
    width:25%;
    margin-top:15px;
    height:280px;
    padding-left:10px;
}
.social-img{
    width: 100px;
    height:100px;
}
.social p {
    padding-left: 10px;
    padding-right: 10px;
}
.social-mail{
    text-align:center;
}

@media print {
    .container-top {
        display: none;
    }

    main {
        background-color: white;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .wrapper {
        padding-bottom: 0px;
    }

    h1 {
        font-size: 50px;
    }

    .container-welcome {
        width: 100%;
        font-size: 12px;
    }

    .container-welcome h2 {
        font-size: 25px;
    }

    .column,.column-h {
        width: 100%;
        font-size: 12px;
        padding: 0px;
    }

    .column img {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
    .column-h img {
        width: 600px auto;
        height: 330px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
    footer {
        display: none;
    }

    .skill-img {
        width: 75px;
        height: 75px;
    }
    

    .skill-item {
        margin-top: 0px;
        height: 220px;
    }
}

@media screen and (max-width: 540px) {

    .container-top {
        position: static;
        text-align: center;
        height: 160px;
    }

    .column img {
        width: 300px;
        height: 300px;
    }

    nav {
        padding-top: 20px;
        border: none;
    }

    nav a {
        padding: 1px;
        border: none;
    }
    
    nav a:hover {
        color: white;
        border: none;
    }

    .nav-item-current {
        text-decoration: underline; 
        border: none;  
    }

    footer p {
        font-size: 14px;
    }

    .column, .column-h {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
        margin: 0 auto;
    }

    .social {
        width: 100%;
    }

    .container-welcome {
        width: 100%;
        padding: 20px;
    }

    .container-welcome {
        text-align: justify;
        margin-top: 0;
    }

    p,h2 {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 50px;
    }
    
    .skill{
        width: 100%;
        padding-left:30px;
        margin-left: 50px;
    }
     .skill p, .social p{
        
        text-align:left;
        margin-right: 50px;
        padding-right:50px;
    }
    .social{
        width:100%;
        text-align:justify;
        padding-left:30px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 680px) {

    .container-top {
        position: static;
        text-align: center;
        height: 190px;
    }

    main {
        padding-top: 0px;   
    }

    .logo {
        float: none;
        clear: both;
    }

    header {
        float: none;
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
    }

    nav {
        float: none;
        clear: both;
    }

    .column,.column-h {
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        text-align: center;
        margin: 0 auto;
    }
    

    .social, .skill {
        width: 50%;
    }

    .container-welcome {
        width: 100%;
        padding: 30px;
    }
    .social-mail{
        float:center;
    }

}
/*font-family: 'Encode Sans Condensed', sans-serif;*/